<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	    <configSections>
     </configSections>
     <connectionStrings>
          <add name="Connection" connectionString="Data Source=CR7SYS015;Initial Catalog=schoolMgtDB;User ID=sa;Password=open"
               providerName="System.Data.SqlClient" />
          <add name="School_Management_System.Properties.Settings.schoolMgtDBConnectionString1"
               connectionString="Data Source=CR7SYS015;Initial Catalog=schoolMgtDB;User ID=sa;Password=open"
               providerName="System.Data.SqlClient" />
     </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>